services:
  db:
    image: postgres:18-alpine
    mem_limit: 512m
    container_name: dev_postgres
    restart: unless-stopped

    env_file:
      - ./.env.dev

    environment:
      POSTGRES_DB: ${DB}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    volumes:
      - ./data/postgres:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 20

networks:
  default:
    name: dev_shared_net
    external: true
