services:
  app:
    mem_limit: 1g
    container_name: servlets_app_dev
    restart: unless-stopped

    build:
      context: ../../
      args:
        MVN_PROFILE: dev

    env_file:
      - ./.env.dev

    ports:
      - "8080:8080"

    environment:
      STORAGE_PROVIDER: s3

      CLOUDFRONT_PK_PATH: /run/secrets/cloudfront_pk

      JAVA_OPTS: "-Xms256m -Xmx512m -XX:MaxMetaspaceSize=128m -XX:+UseG1GC -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200"

    volumes:
      - ../../secrets/cloudfront-private-pkcs8.pem:/run/secrets/cloudfront_pk:ro

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/api/v1/health/up" ]
      interval: 30s
      timeout: 10s
      retries: 10

networks:
  default:
    name: dev_shared_net
    external: true
