target/
images/
*.iml
*.class
*.jar
*.war
*.log
*.tmp
*.swp
*.bak
*.DS_Store

.git/
!.dockerignore
!.gitignore

.idea/
.vscode/
.project
.settings/
.classpath

frontend/node_modules/
frontend/.env
frontend/.env.*

.node/
*.md
Thumbs.db

.env
.env.*