@charset "ISO-8859-1";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
	padding: 1rem;
}

.content {
  min-height: calc(100vh - 9.375rem);
}

.footer {
  height: 50px;
}

.main {
	margin: 2rem 2rem 0 2rem;
}

#copyright {
	padding: 1rem;
	align-content: center;
}

/* 404 not found */
.page-wrap {
	min-height: 100vh;
	justify-content: center;
}

.btn-success {
  color: darkgreen;
}

.btn-success:hover {
  color: white;
}

.btn-primary {
  color: darkblue;
}

.btn-primary:hover {
  color: white;
}

.btn-danger {
  color: darkred;
}

.btn-danger:hover {
  color: white;
}



